.campus img {
  width: 236px;
  height: 297px;
  margin: 10px;
  border-radius: 10px;
}
.campus {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.seemore {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.seemorebtn {
  height: 45px;
  width: 150px;
  background-color: rgb(16, 16, 151);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  padding: 5px;
}
