.contactmainbox {
  height: 511px;
  display: flex;
  justify-content: center;
}
.contactustext {
  display: flex;
  flex-direction: column;
  grid-row-gap: 4px;
  padding: 20px;
}
.contacttext1 {
  display: flex;
  align-items: center;
  font-size: x-large;
  font-weight: 600;
}
.contacttext1 img {
  height: 30px;
  width: 30px;
  padding: 5px;
}
.contactustext p {
  height: 80px;
  width: 450px;
  padding: 5px 0px;
}
.contacticons {
  display: flex;
  grid-column-gap: 7px;
  padding: 11px 0px;
}
.contactusicons {
  height: 25px;
  width: 25px;
  color: darkblue;
}

.contactusinput {
  padding: 0px 40px;
}
.contactusinput div {
  padding: 14px;
  display: flex;
  flex-direction: column;
  grid-row-gap: 5px;
}
.contactusinput div input {
  padding: 15px;
  width: 450px;
  background: #ebecfe;
  border: none;
}
.submitnow {
  margin: 0px 20px;
  padding: 15px;
  background-color: darkblue;
  border-radius: 20px;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
@media screen and (max-width: 1050px) {
  .contactmainbox {
    height: 811px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 490px) {
  .contactustext {
    width: 200px;
    display: flex;
    justify-content: flex-end;
  }
  .contactmainbox {
    display: flex;
  }
  .contacttext1 {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
  }
  .contactustext p {
    height: 80px;
    width: 250px;
    padding: 5px 0px;
    font-size: small;
  }
  .contacticons {
    display: flex;
    grid-column-gap: 4px;
    padding: 11px 0px;
    font-size: small;
  }
  .contactusicons {
    height: 15px;
    width: 15px;
    color: darkblue;
  }
  .contactustext {
    display: flex;
    flex-direction: column;
    grid-row-gap: 4px;
    padding: 5px;
  }

  .contactusinput {
    padding: 0px 10px;
  }
  .contactusinput div {
    padding: 4px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 3px;
    font-size: small;
  }
  .contactusinput div input {
    padding: 10px;
    width: 300px;
    background: #ebecfe;
    border: none;
  }
  .submitnow {
    margin: 5px 20px;
    padding: 10px;
    background-color: darkblue;
    border-radius: 20px;
    color: white;
    border: none;
    font-size: 10px;
    cursor: pointer;
  }
}
