.testimonials {
  margin: 80px auto;
  position: relative;
  margin: 0 80px;
  display: flex;
  align-items: center;
}
.slidericonleft,
.slidericonright {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  top: 50%;
  cursor: pointer;
}
.slidericonright {
  left: 0;
  cursor: pointer;
  height: 70px;
  width: 110px;
}
.slidericonleft {
  right: 0;
  cursor: pointer;
}
.slider {
  overflow: hidden;
  padding: 0 20px;
}
.slide {
  padding: 30px;
  box-shadow: 10px 0px 9px rgba(0, 0, 0, 0.5);
  border: 0.1px solid black;
  margin: 0px 40px;
}
.slider ul {
  display: flex;
  width: 200%;
  overflow-x: hidden;
  transition: 0.5s;
}
.slider ul li {
  list-style: none;
  width: 50%;
}
.userinfo {
  display: flex;
  padding: 10px;
  align-items: center;
}
.userinfo img {
  height: 65px;
  width: 65px;
  border: 2px solid darkblue;
  border-radius: 50%;
  margin: 5px;
}
h3 {
  color: darkblue;
}

@media screen and (max-width: 990px) {
  .testimonials {
    margin: 80px auto;
    position: relative;
    margin: 0 40px;
    display: flex;
    align-items: center;
  }
  .slide {
    padding: 10px;
    box-shadow: 10px 0px 9px rgba(0, 0, 0, 0.5);
    border: 0.1px solid black;
    margin: 0px 0px;
  }
  h3 {
    color: darkblue;
    font-size: large;
  }
  .slide p {
    font-size: small;
  }
}
@media screen and (max-width: 960px) {
  .testimonials {
    margin: 80px auto;
    position: relative;
    margin: 0 40px;
    display: flex;
    align-items: center;
  }
  .slide {
    padding: 5px;
    box-shadow: 10px 0px 9px rgba(0, 0, 0, 0.5);
    border: 0.1px solid black;
    margin: 0px 40px;
  }
  h3 {
    color: darkblue;
    font-size: 10px;
  }
  .slide p {
    font-size: small;
  }
  .userinfo img {
    height: 50px;
    width: 50px;
    border: 2px solid darkblue;
    border-radius: 50%;
    margin: 5px;
  }
  .userinfo div span {
    font-size: x-small;
  }
}

@media screen and (max-width: 750px) {
  .testimonials {
    margin: 80px auto;
    position: relative;
    margin: 0 0px;
    display: flex;
    align-items: center;
  }
  .slide {
    padding: 5px;
    box-shadow: 10px 0px 9px rgba(0, 0, 0, 0.5);
    border: 0.1px solid black;
    margin: 0px 40px;
  }
  h3 {
    color: darkblue;
    font-size: 10px;
  }
  .slide p {
    font-size: x-small;
  }
  .userinfo img {
    height: 50px;
    width: 50px;
    border: 2px solid darkblue;
    border-radius: 50%;
    margin: 5px;
  }
  .userinfo div span {
    font-size: x-small;
  }
  .userinfo {
    flex-direction: column;
  }
}

@media screen and (max-width: 440px) {
  .slide {
    padding: 1px;
    box-shadow: 10px 0px 9px rgba(0, 0, 0, 0.5);
    border: 0.1px solid black;
    margin: 0px 6px;
  }
  .testimonials {
    margin: 80px auto;
    position: relative;
    margin: 0 0px;
    display: flex;
    align-items: center;
  }

  h3 {
    color: darkblue;
    font-size: 10px;
  }
  .slide p {
    font-size: 6px;
  }
  .userinfo img {
    height: 40px;
    width: 40px;
    border: 1px solid darkblue;
    border-radius: 50%;
    margin: 1px;
  }
  .userinfo div span {
    font-size: xx-small;
  }
  .userinfo {
    flex-direction: column;
  }
}
