.videoplayer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 00;
  background: rgba(0, 0, 0, 0.9);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoplayer video {
  width: 90%;
  max-width: 920px;
  height: auto;
  border: 4px solid #fff;
}
.videoplayer.hide {
  display: none;
}
